* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 20%;
    background-color: rgb(76, 113, 235);
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero-image {
    height: 300px;
    margin-bottom: 20px;
}

.quote-text {
    text-align: center;
    color: white;
    font-family: 'Rowdies', sans-serif, cursive;
    line-height: 1.4;
    font-size: 25px;
}

.quote-author {
    margin: 15px 0;
    color: white;
    font-family: 'Rowdies', sans-serif, cursive;
    font-size: 18px;
}

.quote-author::selection, .quote-text::selection {
    background-color: rgb(255, 0, 98);
}

.generator {
    cursor: pointer;
    border: none;
    height: 40px;
    width: 200px;
}